/* universal styles */
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* custom styles */
header{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    height: 808px;
    padding-top: 216px;
    max-width: 1600px;
}

header .header-content{
    margin: 0 230px 166px auto;
    /* margin: 0 230px 166px 845px; */
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
header .header-content h1{
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 24px;
    color: #151414;
}
header .header-content p {
    text-align: right;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    color: #444343;
}
header .header-content button{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background-color: #F15B22;
    border: none;
    /* margin-left: 0;
    margin-right: 0; */
    /* display: block; */
    /* margin-left: auto; */
    margin-right: 0;
}
/* header .header-content .btn{
    background-color: red;
    text-align: right;
} */

.header-content button a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;

}