/* TEMPORARY PC VIEW FOR MOBILE TESTING */
body {
    width: 1600px;
    overflow-x: auto; /* যাতে স্ক্রল করা যায় */
    zoom: 0.25; /* এটি আপনার স্ক্রিনের সাইজ অনুযায়ী কমিয়ে বাড়িয়ে দেখুন, যেমন ০.৩ বা ০.৪ */
    -moz-transform: scale(0.25); /* ফায়ারফক্সের জন্য */
    -moz-transform-origin: 0 0;
}
/* ========================================= */
/* universal styles */
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    height: 808px;
    padding-top: 216px;

}
header .header-content{
    margin: 0 230px 166px 845px;
}
header .header-content h1{
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 24px;
    color: #151414;
}
header .header-content p {
    text-align: right;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    color: #444343;
}
header .header-content button{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background-color: #F15B22;
    border: none;
    display: block;
    margin-left: auto;

}
.header-content button a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;

}